<!DOCTYPE html>
<html>
<head>
  <title>Blockchain</title>
</head>
<body>
  <p>Public Key: {{ public_key.to_string().hex() }} </p>
  <table>
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Data</th>
        <th>Previous Hash</th>
        <th>Hash</th>
        <th>Transactions</th>
      </tr>
    </thead>
    <tbody>
      {% for block in blockchain %}
        <tr>
          <td>{{ block.timestamp }}</td>
          <td>{{ block.data }}</td>
          <td>{{ block.previous_hash }}</td>
          <td>{{ block.hash }}</td>
          <td>{{ block.transactions }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="/transaction" method="POST">
    <label for="recipient">Recipient:</label>
    <input type="text" id="recipient" name="recipient">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount">
    <input type="submit" value="Post transaction">
  </form>
  <form action="/is_valid" method="GET">
    <input type="submit" value="Is blockchain valid?">
  </form>
</body>
</html>